.App {
  background-color: black;
  text-align: center;
  padding: 20px 150px;
}

.Grid {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  font-size: 20px;
  color: white;
}

.AlbumCardOuter {
  padding: 20px;
  background-color: black;
}

.AlbumImage{
  width: 100%;
  height: 100%;
}
.ImageHeadingRow {
  margin-bottom: 10px;
  justify-content: center;
}

.Title {
  font-size: 40px;
  color: maroon;
  font-weight: bold;
  margin-bottom: 25px;
}

.AlbumName {
  color: maroon;
}